<div id="announcement" class="fixed top-0 w-full z-10 flex items-center justify-between gap-x-6 overflow-hidden bg-gray-50 px-6 py-2.5 sm:px-3.5" style="background-color: {{ config.theme.header.announcement.background_color }};">
	<div class="flex-1 min-w-0" onclick="announcement_dialog.showModal()">
		<p class="text-sm leading-6 truncate text-nowrap" style="color: {{ config.theme.header.announcement.text_color }};">
			<strong class="font-semibold">{{ config.theme.header.announcement.title_message|e }}</strong>
			<svg viewbox="0 0 2 2" class="mx-2 inline h-0.5 w-0.5 fill-current" aria-hidden="true">
				<circle cx="1" cy="1" r="1"/>
			</svg>
			{{ config.theme.header.announcement.message|e }}
		</p>
	</div>

	<div class="flex items-center gap-x-2">
		{% if config.theme.header.announcement.btn_enabled %}
			<a href="#" onclick="announcement_dialog.showModal()" style="color: {{ config.theme.header.announcement.text_color }}; background-color: {{ config.theme.header.announcement.btn_color }};" class="flex-none rounded-full px-3.5 py-1 text-sm font-semibold shadow-sm hover:bg-gray-700 focus-visible:outline focus-visible:outline-1 focus-visible:outline-offset-2 focus-visible:outline-gray-900">
				Read
				<span aria-hidden="true">&rarr;</span>
			</a>
		{% endif %}

		<button type="button" class="btn btn-xs btn-circle btn-ghost" onclick="dismissAnnouncement(); event.stopPropagation();">
			<span class="sr-only">Dismiss</span>
			<span style="color: {{ config.theme.header.announcement.text_color }};" aria-hidden="true" class="icon-[ph--x] w-4 h-4"></span>
		</button>
	</div>
</div>

<dialog id="announcement_dialog" class="modal modal-bottom sm:modal-middle">
	<div class="modal-box">
		<h3 class="text-lg font-bold">{{ config.theme.header.announcement.title_message|e }}</h3>
		<p class="py-4 text-pretty">{{ config.theme.header.announcement.message|e }}</p>
		<div class="modal-action">
			{% if config.theme.header.announcement.btn_enabled %}
				<a class="btn btn-primary text-neutral-100" href="{{config.theme.header.announcement.btn_url|e}}">{{ config.theme.header.announcement.btn_message|e }}</a>
			{% endif %}
			<form method="dialog">
				<button class="btn">Close</button>
			</form>
		</div>
	</div>
</dialog>
